// =============================================================================
// #BOX
// =============================================================================

.box {
  margin-bottom: rem(20px);
  padding: rem(20px);
  background-color: $color-white;
  box-shadow: 0 0 rem(20px) rgba($color-primary-light-rested, 0.1);

  // Modifiers
  &--rounded {
    border-radius: rem(16px);
  }

  &--shrink {
    padding: rem(14px) rem(30px);
  }

  &--fav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: rem(4px);
    width: rem(40px);
    height: rem(40px);
    font-size: rem(24px);
    border: 0;
    border-radius: rem(8px);
    box-shadow: 0 0 rem(10px) rgba($color-primary-light-rested, 0.2);
    color: $color-grey-battleship;
  }
}
