// =============================================================================
// #APP-HEADER
// =============================================================================

.app-header {
  margin-bottom: rem(40px);
  min-height: rem(65px);

  @include media-breakpoint-up(lg) {
    border-radius: 0 0 rem(16px) rem(16px);
  }
}
